@{
    ViewBag.Title = "Function Test";
}
<style>
    .bold {
        font-weight: bold;
    }
</style>

<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <p class="bold">
            @ViewBag.Person
        <br />
            @ViewBag.Address
        </p>
    </div>
</div>